/* .container {
  border: 1px solid blue;
} */
/* .container sticky {
  border: 1px solid blue;
  width: 100%;
} */
.menu-list > ul {
  text-decoration: none;
}
.menu-icon {
  display: none;
  width: 100%;
  /* border: 1px solid blue; */
}
.menu-list > ul > a > p {
  color: white;
  font-size: 20px;
}

.menu-list {
  text-align: center;
  position: absolute;
  width: 95%;
  background-color: #e54c4c;
  margin: auto;
  display: none;
  border-radius: 10px;
  padding: 20px 10px 20px 10px;
  right: 10px;
  top: 70px;
  left: 5px;
  z-index: 100;
}
.menu-list a {
  margin-top: 10px;
  color: black;
}
.menu-list {
  text-decoration: none;
}
#burgir:hover > div {
  display: block;
}

.menu-list > ul > a:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  .menu-icon {
    display: block;
  }
}
