@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
hr {
  color: rgb(0, 48, 48);
}
:root {
  --red: #f5f2f2;
  --red-dark: #eee1e1;
  --red-text: #e54c4c;
  /* name navbar and banner */
  --dark-light: #181818;
  --dark: #111;
  --light: #e7dfdf;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--dark);
  color: var(--light);
}
.container,
.header-inner {
  /* max-width: 1200px; */
  padding: 0px 20px;
  /* width: 100%; */
  margin: auto;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  transition: 0.3s;
  width: 100%;
  cursor: pointer;
}
img {
  width: 100%;
}
header {
  height: 100px;
}
header.sticky {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
  z-index: 10;
  transition: 0.3s;
  position: sticky;
  top: 0;
  background: var(--dark-light);
  height: 70px;
}
header .header-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header-inner .logo {
  font-size: 30px;
  line-height: 40px;
  color: var(--red-text);
  font-weight: 900;
}
.header-inner .link {
  margin-right: 30px;
  color: var(--light);
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  transition: 0.3s;
}
.header-inner .link:hover {
  color: var(--red-text);
}
header .menu {
  display: none;
}
header .mobile-links {
  display: none;
}

/* =========== Banner */
/* .container {
  border: 1px solid white;
} */
.banner-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  column-gap: 20px;
}
/* .banner-img {
  border: 1px solid red;
} */
.banner-content {
  margin-left: 160px;
}
.BannerAllLinks {
  display: flex;
  /* border: 1px solid white; */
  /* justify-content: space-around; */
  gap: 40px;
}
@media (max-width: 768px) {
  header .links {
    display: none;
  }
  header .menu {
    display: block;
    font-size: 20px;

    cursor: pointer;
  }
  header .mobile-links.active {
    position: fixed;
    top: 70px;
    right: 0;
    width: 250px;
    transition: 0.3s;
    display: block;
    display: flex;
    flex-direction: column;
    background: var(--dark-light);
    bottom: 0;
    padding: 100px 40px;
    z-index: 9;
  }
  header .mobile-links.active a {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--red-text);
    line-height: 30px;
    transition: 0.3s;
    display: inline;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
  }
  header .mobile-links.active a:hover {
    border-color: var(--red-text);
  }
  .banner-wrapper {
    display: grid;
  }
  .banner-img > img {
    width: 100%;
  }
  .banner-content {
    margin-left: 0px;
  }
  .BannerAllLinks {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
  }
}

@media (max-width: 660px) {
  .banner .banner-content h3 {
    font-size: 30px;
    line-height: 40px;
  }
  .banner .banner-img {
    flex: 0 0 60%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .banner-img {
    margin: auto;
    text-align: center;
  }
  .BannerButton {
    text-align: center;
    width: 70%;
  }
  .BannerAllLinks {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    justify-content: space-evenly;
  }
}
